""Configuracao de comando Nvim para Android Studio.

" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Source your .vimrc
source ~/.vimrc

""plugins which-key - mostra um dialog com os comandos.
set which-key
set notimeout
set timeoutlen=5000
""
set ideajoin

nnoremap -- :action OptimizeImports <CR>
nmap <leader>= <Action>(ReformatCode)
nmap zz <Action>(ExpandCollapseToggleAction)
nmap za <Action>(CollapseAllRegions)
nmap zA <Action>(ExpandAllRegions)
""" apenas '==' formata linha

noremap <Space><enter> :action Run<CR>
nnoremap <Space>d<enter>  :action ChooseDebugConfiguration<CR>

"""Refata codigo
nnoremap <Leader>re :action RenameElement<CR>
nmap <leader>r <Action>(Refactorings.QuickListPopupAction)
noremap <Space>cs  :action ChangeSignature<CR>
""nmap <leader>qf <Action>(ShowIntentionActions) - alt + enter é melhor
"" o que foi selecionado sera envolvido, por varias opcoes - if, when, row etc
xmap <leader>sw :<C-u><Action>(SurroundWith)<CR>
"" Abre o google com trecho selecionado
xmap <leader>web :<C-u><Action>($SearchWeb)<CR>

""nmap <leader>sw <Action>($SearchWeb)
"" Shift + leader [Space] vai para proximo erro
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
""" IdeaVim actions
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nnoremap g, :action JumpToLastChange <CR>
nnoremap g. :action JumpToNextChange <CR>
nmap gb <Action>(Back)
nmap gf <Action>(Forward)

" Keys from vim-gitgutter
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
" Not from vim-gitgutter. ={motion} is for indenting. =c does nothing
nmap =c <Action>(VcsShowCurrentChangeMarker)
"" menu do git
nmap <leader>g <Action>(Vcs.QuickListPopupAction)

"" go to - sintaxe
nmap gD <Action>(GotoTypeDeclaration)
nnoremap gi :action GotoImplementation <CR>
nmap gl <Action>(QuickJavaDoc)
nmap gL <Action>(QuickImplementations)
nmap gy <Action>(ShowErrorDescription)
"" *********
nmap <leader>b <Action>(ToggleLineBreakpoint)

" Highlight usages, use CMD+G/Shift+CMD+G to iterate
nmap <leader>hi <Action>(HighlightUsagesInFile)
""nmap <leader>n <Action>(ReSharperNavigateTo)
""nmap <leader>q <Action>(ToggleRenderedDocPresentation)

" tabs
nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
""nmap <leader>bd :action CloseEditor<CR> :q

" split window
nnoremap <leader>sv :action SplitVertically <CR>
nnoremap <leader>sh :action SplitHorizontally <CR>
nnoremap <leader>sc :action UnsplitAll <CR>
nnoremap <leader>n :action NextSplitter <CR>
nnoremap <leader>em :action RunningDevices <CR>


"" menu - navegar entre arquivos
nnoremap <leader>ss :action SelectInProjectView<CR>
nmap <leader>s <Action>(ShowUsages)

"" Abrir menus
nmap <leader>t <Action>(ActivateTerminalToolWindow)
""nmap <leader>t <Action>(TypeHierarchy)
nmap <leader>u <Action>(FindUsages)
""nmap <Leader>w <action>(ActiveToolwindowGroup)
" fecha e abre
nmap <leader>x <Action>(HideAllWindows)
"" mostra estrurura da classe - metodos da class e variaveis
nnoremap <leader>m :action ShowNavBar<CR>
"" mostra estrurura da classe mais completo - metodos da class e variaveis
map <leader>o <Action>(FileStructurePopup)
nnoremap <leader>fr :action RecentFiles <CR>
nmap <leader>cm <Action>(CodeMenu)
